
<!-- <form [formGroup]="postForm">

    <button class="button" type="submit">Post submit</button>

  </form> -->


<div class="col-md-7 col-lg-8 d-flex form-block">

  <div class="col-md-7 col-lg-8">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-6">
        <label for="id" class="form-label">ID#</label>
        <div class="input-group has-validation">
          <input type="number" class="form-control" id="id" placeholder="id number" formControlName="id" required>
        </div>
      </div>
<!--  <div>-->
<!--    <label for="id">-->
<!--      ID-->
<!--    </label>-->
<!--    <input id="id" type="number" formControlName="id">-->
<!--  </div>-->

      <div class="col-6">
        <label for="title" class="form-label">Title</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="title" placeholder="title" formControlName="title" required>
        </div>
      </div>

<!--  <div>-->
<!--    <label for="title">-->
<!--      Title-->
<!--    </label>-->
<!--    <input id="title" type="text" formControlName="title"  >-->
<!--  </div>-->

      <div class="col-6">
        <label for="author" class="form-label">Author</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="author" placeholder="author" formControlName="author" required>
        </div>
      </div>

<!--  <div>-->
<!--    <label for="author">-->
<!--      Author-->
<!--    </label>-->
<!--    <input id="author" type="text" formControlName="author" >-->
<!--  </div>-->

      <div class="col-6">
        <label for="content" class="form-label">content</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="content" placeholder="content" formControlName="content" required>
        </div>
      </div>


      <div class="col-6">
        <label for="cityId" class="form-label">City Id</label>
        <div class="input-group has-validation">
          <input type="number" class="form-control" id="cityId" placeholder="City ID number" formControlName="cityId" required>
        </div>
      </div>

<!--  <div>-->
<!--    <label for="cityId">-->
<!--      City-->
<!--    </label>-->
<!--    <input id="cityId" type="number" formControlName="cityId">-->
<!--  </div>-->


      <div class="col-6">
        <label for="date" class="form-label">Date</label>
        <div class="input-group has-validation">
          <input type="date" class="form-control" id="date" placeholder="Date" formControlName="date" required>
        </div>
      </div>

<!--  <div>-->
<!--    <label for="date">-->
<!--      Date-->
<!--    </label>-->
<!--    <input id="date" type="text" formControlName="date">-->
<!--  </div>-->
      <div class="col-6">
        <label for="img" class="form-label">Image URL</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="img" placeholder="Image URL" formControlName="img" required>
        </div>
      </div>

<!--  <div>-->
<!--    <label for="img">-->
<!--      Image-->
<!--    </label>-->
<!--    <input id="img" type="text" formControlName="img">-->
<!--  </div>-->


  <button class="button" type="submit" [disabled]="!postForm.valid">Submit your post</button>
    </div>
</form>

</div>




</div>
