<p>post works!</p>

<div class="post">
    <h2>Posts</h2>
    <!-- <a *ngFor="let ci of cityList; index as i;> -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://st3.depositphotos.com/1001146/14087/i/600/depositphotos_140879866-stock-photo-aerial-view-of-miami-beach.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">test post</h5>
              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit minus cupiditate molestiae consequatur quaerat distinctio ipsam eum natus dolorem molestias, incidunt repellat magni impedit aperiam eos animi repudiandae accusamus ullam! </p>
            </div>
          </div>
        </div>
      </div>
    <!-- </a> -->
  </div>